<title>ADmin Categories</title>

<%- include('../layout/adminheader') %>
<div class="m"></div>
<h2 class="page-title">Add page</h2>
<a href="/admin/categories/add-category" class="btn btn-primary">Add Category</a>
<br /><br />

<table class="table table-striped">
  <thead>
    <tr >
      <th>Categories</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% category.forEach (function (cat){ %>

    <tr>

      <td><%= cat.title %></td>
      <td><a href="/admin/categories/edit-category/<%= cat._id %>">Edit</a></td>
        <td><a class="confirmDeletion"  href="/admin/categories/delete-category/<%= cat._id %>">Delete</a></td>
        
    </tr>

    <% }); %>
  </tbody>
  
</table>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- <script>
    $('tbody').sortable({

   items: "tr:not('.Home')",
   placeholder: "ui-state-hightlight",
   update: function (){
       var ids =$('tbody').sortable ("serialize"); 
       var url="/admin/pages/reorder-page";
       S.post (url, ids);
    }   
});
</script> -->
<%- include('../layout/adminfooter') %>
