<%- include('../layout/adminheader') %>

<h2 class="page-title">Add page</h2>
<a href="/admin/pages/add-page" class="btn btn-primary">Add pages</a>
<br /><br />

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% page.forEach (function (page){ %>

    <tr>
      <td><%= page.title %></td>
      <td><a href="/admin/pages/edit-page/<%= page.slug %>">Edit</a></td>

      <% if (page.slug=="Home"){ %>
      <td></td>
      <%}else {%>
        <td><a href="/admin/pages/delete-page/<%= page._id %>">Delete</a></td>
        <%};%>
    </tr>

    <% }); %>
  </tbody>
</table>

<%- include('../layout/adminfooter') %>
